extends layout

block content
  h1 #{title}
  h2 Current Temperature: #{temp}&#176; F (#{tempc}&#176; C)| Real Feel: #{realfeel}&#176; F (#{realfeelc}&#176; C)| It is currently #{weather}
  h3 Humidity: #{humidity} | Rain Fall: #{rain} inches | Heat Index: #{heat}&#176; F (#{heatc}&#176; C)
  footer Weather #{update}
