extends layout

block content
  h1 #{title}
  div#wrapper
    section#temperature
      ul
        li Current Temperature: #{temp}&#176; F (#{tempc}&#176; C)
        li Real Feel: #{realfeel}&#176; F (#{realfeelc}&#176; C)
        li#end Heat Index: #{heat}&#176; F (#{heatc}&#176; C)
      ul/
    section/

    section#conditions
      ul
        li It is currently #{weather}
        li Humidity: #{humidity}
        li#end Rain Fall: #{rain} Inches
      ul/
    section/
  div/
  div
      footer#weather #{update}
  div/
