extends layout

block content
  h1 #{title}
  h2 Current Temperature: #{temp} | Real Feel: #{realfeel} | It is currently #{weather}
  h3 Humidity #{humidity} | Rain Fall #{rain} | Heat Index #{heat}
  footer #{update}
